@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Fira+Mono:400,700");
* {
  box-sizing: border-box;
}
html {
  font-family: Assistant, sans-serif;
}
body {
  background: #fff;
}
html,
body,
body>form,
body>main {
  min-width: 350px;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}
body>form,
body>main {
  display: grid;
  grid-template-rows: 65px auto;
  opacity: 1 !important;
}
a {
  color: #08f;
}
body,
.placeholder,
.line-number:before,
.line-highlight:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectable,
#content>pre {
  pointer-events: auto;
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.select-all {
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
h4.selected:after {
  content: "Ctrl+C to copy";
  background: #f5f3f2;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
  padding: 1px 3px;
  position: relative;
  top: -1px;
}
@media (max-width: 600px) {
  h4.selected:after {
    display: none;
  }
}
body>*>aside {
  background: #eae6e4;
  color: #444;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  flex: none;
  z-index: 10;
}
body>*>aside>a:first-child {
  margin: 0 12px 0 12px;
  display: flex;
}
body>*>aside>a:first-child>img {
  height: 40px;
  filter: drop-shadow(0 1px 3px rgba(0,0,0,0.2));
}
.submit>*,
.buttons>div {
  border: none;
  background: transparent;
  height: 64px;
  font: inherit;
  color: inherit;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit>* {
  display: block;
  cursor: pointer;
  width: 64px;
  font-size: 13px;
  padding: 0;
  background: url("assets/icons/arrow-right.svg") no-repeat center 35%/30%;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  line-height: 96px;
}
.submit>*:hover,
body>*>aside>input:active {
  background-color: rgba(0,0,0,0.1);
}
.submit>*:active {
  background-color: rgba(0,0,0,0.15);
}
.submit.raw>* {
  width: 48px;
  background-image: url("assets/icons/file-alt.svg");
}
.submit.fork>* {
  width: 48px;
  background-image: url("assets/icons/code-branch.svg");
}
.submit.report>* {
  width: 48px;
  background-image: url("assets/icons/flag.svg");
}
.buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.buttons>div,
.buttons>label {
  font-size: 13px;
  padding: 3px 5px;
  height: auto;
  display: flex;
  white-space: nowrap;
}
.buttons>div img {
  height: 1.4em;
}
.buttons>div span {
  flex-grow: 1;
}
.buttons>div>img + * {
  margin-left: 5px;
}
.buttons select {
  font: inherit;
  color: inherit;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 15 7'><path d='M0 0l5 5L10 0' stroke='%23000' fill='none'/></svg>") no-repeat center right/auto 30%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 10em;
  max-width: 100%;
  outline: 0 !important;
  cursor: pointer;
  padding: 3px 3px 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0;
  text-overflow: '';
}
.buttons>label>input {
  margin-right: 4px;
  margin-top: 1px;
}
.buttons>label,
.buttons a {
  cursor: pointer;
}
.buttons select:hover,
.buttons select:active,
.buttons select:focus {
  border-bottom-color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.1);
}
.buttons a,
.buttons [contenteditable] {
  color: #08f;
  text-decoration: none;
  border-bottom: 1px solid #08f;
  border-top: 2px solid transparent;
  padding: 0 2px;
  min-width: 30px;
}
.actions {
  margin: 0 25px 0 15px;
}
body>*>aside h4,
body>*>aside h5 {
  margin: 0 0 0 15px;
}
body>*>aside h4 {
  font-weight: bold;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  text-overflow: ellipsis;
}
body>*>aside h5 {
  font-size: 13px;
  font-weight: inherit;
}
body>*>aside h4 em {
  font-style: normal;
  color: rgba(0,0,0,0.5);
}
body>*>aside h4 small {
  color: transparent;
  pointer-events: none;
  letter-spacing: -0.5em;
  width: 0;
  transform-origin: 0 105%;
  transform: scale(0.01);
  display: inline-block;
}
@media (max-width: 600px) {
  body>*>aside h4 em {
    font-size: 0;
    display: inline-block;
    width: 0;
  }
  body>*>aside h5 {
    display: none;
  }
}
@media (max-width: 500px) {
  body>.always-show-logo>aside h4 {
    display: none;
  }
  body>:not(.always-show-logo)>aside h4 {
    margin: 0 12px;
    font-size: 14px;
  }
  body>:not(.always-show-logo)>aside>a:first-child {
    display: none;
  }
}
#encrypting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.6);
  flex-direction: column;
}
#encrypting img {
  height: 64px;
}
#encrypting strong {
  font-size: 1.5em;
}
.token a {
  color: inherit;
}
#content>pre.line-numbers > code {
  display: block;
  white-space: inherit;
  position: relative;
  counter-reset: line;
}
#content>pre.line-numbers > code .line-number {
  display: inline;
}
#content>pre.line-numbers > code .line-number:before {
  counter-increment: line;
  content: counter(line);
  display: inline;
  position: absolute;
  right: 100%;
  margin-right: 10px;
  color: rgba(0,0,0,0.25);
}
.selectable-lines .line-number:before {
  cursor: pointer;
}
.line-highlight {
  display: inline;
}
.line-highlight.lh-top:before {
  margin-top: -1px;
  border-top: 1px solid #ffc891;
}
.line-highlight.lh-bot:before {
  border-bottom: 1px solid #ffc891;
}
.line-highlight:before {
  content: " ";
  display: block;
  position: absolute;
  left: -4em;
  right: -1em;
  background: #fed;
  z-index: -1;
}
.language-generic .token.url {
  color: #08f;
}
#content>pre {
  background: transparent !important;
  margin: 0 !important;
  padding: 1em;
}
#content>pre.no-linenumber-padding {
  padding-left: 1em !important;
}
body>main #content>pre .line-numbers-rows {
  top: 2px !important;
}
#content {
  flex-grow: 1;
  font-family: "Fira Mono", monospace;
  overflow-y: auto;
  overflow-x: hidden;
}
#content>textarea,
#content>pre,
#content>pre>code {
  font-family: "Fira Mono" !important;
  font-size: 15px;
  word-wrap: break-word;
  white-space: pre-wrap !important;
}
#content>pre {
  padding-left: 4em !important;
  width: auto;
  right: 0;
  min-height: 100%;
}
#content>textarea {
  height: 100%;
  border: none;
  padding: 15px;
  z-index: 10;
}
#content:not(.CodeFlask)>textarea {
  -webkit-text-fill-color: #000 !important;
  opacity: 1 !important;
}
code[class*=language-],
pre[class*=language-] {
  text-shadow: none !important;
}
#content>pre>code {
  padding: 0 !important;
}
#content ::selection {
  background: #7bf !important;
}
#content ::-moz-selection {
  background: #7bf !important;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: rgba(255,255,255,0) !important;
}
.line-numbers .line-numbers-rows {
  border-right: none !important;
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
}
/*# sourceMappingURL=style.css.map */