.markdown {
  padding: 1em 1em 5em;
  margin: 0 auto;
  max-width: 900px;
  font-family: Assistant, sans-serif;
  font-size: 18px;
  line-height: 1.6;
/* Inline elements */
/* Code */
/* Block elements */
/* Paragraphs */
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
  line-height: 1.1;
  margin: 25px 0 10px;
}
.markdown h1 {
  font-size: 2.25em;
}
.markdown h2 {
  font-size: 1.8em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.35em;
}
.markdown h5 {
  font-size: 1.2em;
}
.markdown h6 {
  font-size: 1.05em;
}
.markdown p,
.markdown pre,
.markdown table,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin: 10px 0 25px;
}
.markdown a {
  color: #08f;
  text-decoration: underline;
  cursor: pointer;
}
.markdown a:visited {
  color: #08f;
}
.markdown pre,
.markdown code {
  font-family: "Fira Mono", monospace;
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  background: #eae6e4 !important;
  padding: 3px 4px !important;
  margin: 0;
}
.markdown pre {
  padding: 15px !important;
  overflow: auto;
}
.markdown pre>code {
  padding: 0 !important;
  background: transparent;
}
.markdown img:not(.inline) {
  display: block;
  width: 100%;
}
.markdown p {
  margin: 10px 0 25px;
}
.markdown p:last-child {
  margin-bottom: 10px;
}
.markdown blockquote {
  border-left: 5px solid #eae6e4;
  margin-left: 15px;
  padding: 1px 15px;
  color: #444;
}
.markdown hr {
  border: none;
  outline: none;
  height: 5px;
  background: #eae6e4;
}
.markdown ul,
.markdown ol {
  padding: 0;
  padding-left: 1em;
}
.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
  margin: 0;
}
.markdown ul {
  list-style: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4' width='6' height='8'><circle cx='1' cy='1' r='1' fill='#181818'/></svg>");
}
.markdown ol {
  list-style: decimal;
}
.markdown .table {
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0 2px;
  word-break: break-all;
}
.markdown table {
  border-collapse: collapse;
  min-width: 100%;
}
.markdown table td,
.markdown table th {
  border: 3px solid #eae6e4;
  padding: 6px;
  text-align: left;
}
.markdown table tbody tr:nth-child(even) td {
  background: #f5f3f2;
}
.markdown table th {
  background: #eae6e4;
}
.markdown table caption {
  text-align: left;
  caption-side: bottom;
  color: #444;
  font-style: italic;
  font-size: 0.9em;
}
.markdown input,
.markdown textarea {
  display: block;
  width: 100%;
  border: none;
  background: #f5f3f2;
  padding: 10px 15px;
  border-radius: 3px;
  font: inherit;
  color: #000;
}
.markdown input:hover,
.markdown textarea:hover {
  background: #f0edeb;
}
.markdown input:focus,
.markdown textarea:focus {
  background: #eae6e4;
}
.markdown input[type="submit"] {
  background: #eae6e4;
  float: right;
  width: 200px;
  cursor: pointer;
}
.markdown input[type="submit"]:hover {
  background: #e5e0dd;
}
.markdown input[type="submit"]:focus {
  background: #dfd9d6;
}
/*# sourceMappingURL=style-markdown.css.map */