.CodeFlask__textarea
    opacity: .538 !important; outline: 0 !important
    width: calc(100% - 4em) !important
    margin-left: 4em !important
.CodeFlask__textarea:invalid
    -webkit-text-fill-color: #000 !important; box-shadow: none
.CodeFlask__textarea ~ pre
    overflow: visible !important
.placeholder
    display: none; font-size: 16px; max-height: 100%
.placeholder>div
    font-family: Assistant; font-size: 18px;

.placeholder ul
    margin: 0; padding-left: 1.5em
.placeholder b
    font-family: "Fira Mono", monospace; font-size: 0.95em; font-weight: normal
    color: #222
    background: #EAE6E4; padding: 2px 4px;
.placeholder a
    pointer-events: auto

.CodeFlask__textarea:invalid ~ .placeholder
    display: block;
    margin-left: 4em;
    padding: 15px 15px 15px 1px;
    color: #767676;
    position: relative;
    z-index: 11;
    pointer-events: none;

