.CodeFlask__textarea
    opacity: .538 !important; outline: 0 !important
.CodeFlask__textarea:invalid
    -webkit-text-fill-color: #000 !important; box-shadow: none
.placeholder
    display: none; font-size: 16px; max-height: 100%
.placeholder>div
    font-family: Assistant; font-size: 18px;

.placeholder ul
    margin: 0; padding-left: 1.5em
.placeholder b
    font-family: "Input Mono Nar Reg", monospace; font-size: 15px; font-weight: normal
.placeholder a
    pointer-events: auto

.CodeFlask__textarea:invalid ~ .placeholder
    display: block;
    margin-left: 3.8em;
    padding: 15px 15px 15px 1px;
    color: #767676;
    position: relative;
    z-index: 3;
    pointer-events: none;

