/* Prism Autolinker */
.token a
    color: inherit

/* Prism Soft Wrap for Line Numbers (https://github.com/PrismJS/prism/pull/584) */
#content>pre.line-numbers > code
    display: block
    white-space: inherit
    position: relative
    counter-reset: line
#content>pre.line-numbers > code .line-number
    display: inline
#content>pre.line-numbers > code .line-number:before
    counter-increment: line
    content: counter(line)
    display: inline
    position: absolute; right: 100%
    margin-right: 10px;
    color: rgba(0,0,0,0.25)
.selectable-lines .line-number:before
    cursor: pointer

.line-highlight
    display: inline
    &.lh-top:before
        margin-top: -1px
        border-top: 1px solid #ffc891
    &.lh-bot:before
        border-bottom: 1px solid #ffc891
    &:before
        content: " "
        display: block
        position: absolute; left: -4em; right: -1em
        background: #ffeedd
        z-index: -1


/* Prism reset */
#content>pre
    background: transparent !important
    margin: 0 !important
    padding: 1em

#content>pre.no-linenumber-padding
    padding-left: 1em !important
body>main #content>pre .line-numbers-rows
    top: 2px !important // Can't explain this, but somehow it's moved by 2.5 pixels when not using CodeFlask
