@import url("https://fonts.googleapis.com/css?family=Assistant:400,600");

*
    box-sizing: border-box

html
    font-family: Assistant, sans-serif
body
    background: #f8f8f8

html, body, form, main
    min-width: 350px
    margin: 0; padding: 0
    position: relative
    height: 100%
form, main
    display: grid
    grid-template-rows: 65px auto
    opacity: 1 !important // Hide until CSS is loaded

a
    color: #08f

main, aside, .placeholder>div
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
.placeholder .selectable, .placeholder .select-on-click, h4.selectable, main #content>*
    pointer-events: auto;
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
h4.selected:after
    content: "Ctrl+C to copy"
    background: #f5f3f2
    display: inline-block
    font-size: 12px; font-weight: normal
    margin-left: 5px
    padding: 1px 3px
    position: relative; top: -1px
    @media (max-width: 600px)
        display: none


@import "./header"
@import "./prism-modifications"
@import "./textarea"
