#content
    flex-grow: 1; font-family: "Fira Mono", monospace; overflow-y: auto; overflow-x: hidden
#content>textarea, #content>pre, #content>pre>code
    font-family: "Fira Mono" !important
    font-size: 15px
    word-wrap: break-word
    white-space: pre-wrap !important
#content>pre
    padding-left: 4em !important; width: auto; right: 0
    min-height: 100%
#content>textarea
    height: 100%; border: none; padding: 15px
    z-index: 10
#content:not(.CodeFlask)>textarea
    -webkit-text-fill-color: #000 !important; opacity: 1 !important

code[class*=language-], pre[class*=language-]
    text-shadow: none !important
#content>pre>code
    padding: 0 !important

#content ::selection
    background: #7bf !important
#content ::-moz-selection
    background: #7bf !important
.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url
    background:hsla(0,0%,100%,0) !important
.line-numbers .line-numbers-rows
    border-right: none !important; font-size: 14px !important; letter-spacing: 0.5px !important
